<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/dist/output.css">
  <title>{% block title %} {% endblock %}</title>
</head>
<body>
  <header>
    <nav class="w-[90%] mx-auto my-7 flex justify-between items-center flex-row relative">
      <div class="text-blue-800 flex justify-start">
        <h1 class="text-4xl font-bold">web<span class="text-slate-800">notes</span></h1>
      </div>

      <div class="hidden md:flex">
        <a id="home" class="ml-6 w-[80px] text-center rounded-2xl hover:text-slate-600 mt-1 hover:bg-blue-50" href="/">Home</a>
        <a id="sign-up" class="ml-6 w-[80px] text-center rounded-2xl hover:text-slate-600 mt-1 hover:bg-blue-50" href="/signup">Sign Up</a>
        <a id="login" class="ml-6  w-[80px] text-center rounded-2xl hover:text-slate-600 mt-1 hover:bg-blue-50" href="/login">Login</a>
        <button class="bg-blue-800 text-white w-[7rem] h-[2.2rem] ml-6 rounded-2xl">
          <a id="logout" href="/logout">Logout</a>
        </button>
      </div>
      
      <button id="hamburger-toggler" class="hamburger-button absolute top-3 right-0 md:hidden">
        <span class="hamburger-dash"></span>
        <span class="hamburger-dash"></span>
        <span class="hamburger-dash"></span>
      </button>

    </nav>
    <div class="md:hidden">
      <div id="mobile-nav" class="mt-3 absolute left-6 right-6 w-auto text-slate-800 font-bold items-center shadow-md bg-gray-100 z-10 h-fit rounded-sm hidden">
        <a id="home" class="mt-7 moile-nav-items" href="/">Home</a>
        <a id="sign-up" class="mt-7 moile-nav-items" href="/signup">Sign Up</a>
        <a id="login" class="mt-7 moile-nav-items" href="/login">login</a>
        <a id="logout" class="my-7 moile-nav-items" href="/logout">Logout</a>
      </div>
    </div>
  </header>

  <!--message flashing-->
  <div class="w-[90%] mx-auto">
    {% with flashed_messages = get_flashed_messages(with_categories=true) %}
      {% if flashed_messages %}
        {% for category, message in flashed_messages %}
          {% if category == "error" %}
            <div id="flash-object" class="alert alert-danger">
              <h1 class="alert-title alert-danger-title">
                {{ category + "!" }}
                <button id="flash-dismiss" class="text-4xl">&times;</button>
              </h1>
              <p class="alert-content alert-danger-content">{{ message }}</p>
            </div>
            {% endif %}
            {% if category == "warning" %}
            <div id="flash-object" class="alert alert-warning">
              <h1 class="alert-title alert-warning-title">
                {{ category + "!" }}
                <button id="flash-dismiss" class="text-4xl">&times;</button>
              </h1>
              <p class="alert-content alert-warning-content">{{ message }}</p>
            </div>
            {% endif %}
            {% if category == "success" %}
            <div id="flash-object" class="alert alert-success">
              <h1 class="alert-title alert-success-title">
                {{ category + "!" }}
                <button id="flash-dismiss" class="text-4xl">&times;</button>
              </h1>
              <p class="alert-content alert-success-content">{{ message }}</p>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
  <div class="mt-20 text-slate-800">
    {% block content %}
    {% endblock %}
  </div>

  <script type="text/javascript" src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>
</html>