{% extends "base.html" %}
<!DOCTYPE html>
<html>
  {% block title %} WebNotes - Notes {% endblock %}
</html>
{% block content %}
  <div class="w-[90%] mx-auto flex flex-col justify-center items-center">
    <div class="text-center my-4 text-balance">
      {% if name %}
      <h1 class="text-3xl font-semibold">Welcome back, {{ name }}!</h1>
      {% else %}
      <h1 class="text-3xl font-semibold">Welcome back!</h1>
      {% endif %}
    </div>

    <div class="w-full relative flex justify-between flex-col md:flex-row">

      {% if notes %}
        <div class="md:w-[45%] flex flex-col">
          <ul class="">
            {% for note in notes%}
              <li class="bg-gray-800 mt-2 rounded-lg md:rounded-none">
                <div id="note" class="py-2 px-4">
                  <div class="flex justify-between py-2">
                    <h3 class="text-lg font-semibold">{{ note.title }}</h3>
                    <div class="relative">
                      <button title="options" class="three-dots-toggler w-6 h-6 border-2 border-gray-600 rounded-full">
                        <img src="../static/images/vertical-dot.svg">
                      </button>
                      <div id="three-dots-nav" class="three-dots-nav bg-gray-900 w-[85px] justify-between items-center py-1 px-2 rounded-lg absolute right-0 bg-opacity-95 hidden">
                        <button title="edit note" class="text-green-400 font-semibold">EDIT</button>
                        <button title="delete-note-button" onClick="deleteNote({{ note.id }})" class="delete-note-button w-5 h-5">
                          <img src="../static/images/rubbish-bin.svg">
                        </button>
                      </div>
                    </div>
                  </div>
                    <p class="text-sm">{{ note.content }}</p>
                </div>
              <li>
            {% endfor %}
          </ul>
        </div>
        {% else %}
          <h3 title="add a note to not show this again" class="text-xl text-white text-center">No notes yet</h3>
      {% endif %}

      <!-- mobile create note form-->
      <div id="mobile-note-form" class="mt-6 p-6 border-2 border-gray-600 rounded-lg shadow-lg absolute left-7 right-7 hidden md:hidden">
        <form action="/home" method="POST" class="text-white-900 flex flex-col">
          <input type="text" name="title" id="title" placeholder="Note Title" class="border rounded-md p-3 mb-4 text-sm focus:text-gray-800">
          <textarea name="content" id="content" placeholder="Content..." cols="30" rows="10" class="bg-gray-100 rounded-md p-3 text-sm focus:text-gray-800"></textarea>
          <div class="self-center space-x-4">
            <button id="cancle-add-note" type="button" class="w-[100px] bg-red-500 text-white font-semibold py-3 rounded-lg hover:bg-red-600 transition duration-300 ease-in-out mt-4 text-xl">
              Cancel
            </button>
            <button id="create-note" type="submit" class="w-[100px] bg-blue-500 text-white font-semibold py-3 rounded-lg hover:bg-blue-600 transition duration-300 ease-in-out mt-4 text-xl">
              Create
            </button>
          </div>
        </form>
      </div>

      <div class="w-[45%] hidden flex-col md:flex">
        <form action="/home" method="POST" class="flex flex-col w-[100%]">
          <input type="text" name="title" id="title" placeholder="Note Title" class="bg-gray-100 border rounded-md p-3 mb-4 w-[95%] mx-auto text-sm focus:text-gray-800">
          <textarea name="content" id="content" placeholder="Content..." cols="30" rows="13" class="bg-gray-100 rounded-md p-3 w-[95%] mx-auto text-sm focus:text-gray-800"></textarea>
          <button type="submit" class="w-48 mx-auto bg-blue-500 text-white font-semibold py-3 rounded-lg hover:bg-blue-600 transition duration-300 ease-in-out mt-4 text-xl">
            Create Note
          </button>
        </form>
      </div>

      <button id="add-note-button" class="self-center w-36 bg-blue-500 text-white font-semibold py-3 rounded-lg hover:bg-blue-600 transition duration-300 ease-in-out mt-4 text-xl md:hidden">
        Add Note
      </button>
    </div>
  </div>
{% endblock %}
