<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
  <head>
    {% block title %} WebNotes - Home {% endblock %}
  </head>
  <body>
    {% block content %}
      <div class="w-[90%] mx-auto">
        <div class="text-center mx-auto w-[90%] md:w-[43rem] leading-6 text-balance">
          <div class="my-8">
            <h1 class="text-6xl font-bold">Keep your notes simple on the web - makes life easy</h1>
          </div>
          <div class = "space-y-8">
            <p>Super simple, keep your notes saved on the web, secure and save, quick and easy - sign up to get started<p>
            <button class="bg-blue-800 text-white w-[8rem] h-[2.2rem] rounded-2xl">
              <a href="/signup">Get started</a>
            </button>
            </div>
        </div>
      </div>
    {% endblock %}
  </body>
</html>
