<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
  <head>
    {% block title %} WebNotes - Home {% endblock %}
  </head>
  <body>
    {% block content %}
      <div class="w-[90%] mx-auto pt-4 h-full flex justify-center items-center text-balance">
        <div class="text-center mx-auto w-[90%] md:w-[43rem] leading-7 text-balance">
          <div class="my-8">
            <h1 class="text-4xl md:text-5xl font-bold">Keep your notes simple on the web - makes life easy</h1>
          </div>
          <div class="text-sm space-y-4 md:space-y-8">
            <p class="md:text-lg">Super simple, keep your notes saved on the web, secure and save, quick and easy - sign up to get started</p>
            <button class="bg-blue-800 text-white rounded-3xl md:text-lg p-2 px-3 md:px-4">
              <a href="/signup">Get started</a>
            </button>
          </div>
        </div>
      </div>
  {% endblock %}
  </body>
</html>
