@tailwind base;
@tailwind components;
@tailwind utilities;

.hamburger-button {
  display: flex;
  flex-direction: column;
  width: 38px;
  cursor: pointer;
}

.hamburger-dash {
  height: 3px;
  width: 100%;
  background-color: #282829;
  transition: all 1s ease-out;
}

.hamburger-dash:nth-child(2) {
  transform: translateY(7.5px);
}

.hamburger-dash:nth-child(3) {
  transform: translateY(15px);
}

.open-toggle>.hamburger-dash:nth-child(1) {
  transform: rotate(45deg) translateY(5px) translateX(12px);
}

.open-toggle>.hamburger-dash:nth-child(2) {
  display: none;
}

.open-toggle>.hamburger-dash:nth-child(3) {
  transform: rotate(-45deg) translateY(9px) translateX(-3px);
}

.moile-nav-items {
  animation-name: moveToLeft;
  animation-delay: 0s;
  transition: all 1s ease-out;
}

.moile-nav-items:nth-child(1) {
  animation-duration: 0.7s;
}
.moile-nav-items:nth-child(2) {
  animation-duration: 1s;
}
.moile-nav-items:nth-child(3) {
  animation-duration: 1.3s;
}
.moile-nav-items:nth-child(4) {
  animation-duration: 1.6s;
}

@keyframes moveToLeft {
  0% {
    transform: translateX(500px);
  }
}

.open-mobile-nav {
  display: flex;
  flex-direction: column;
}