@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .alert {
    @apply w-[300px] md:w-[400px] absolute right-0 mt-4 rounded-lg shadow-lg flex flex-col px-3 py-1;
  }

  .alert-title {
    @apply font-semibold italic text-lg flex justify-between;
  }

  .alert-content {
    @apply text-sm;
  }

  .alert-info {
    @apply bg-blue-100 text-blue-800 border-blue-500;
  }

  .alert-info-title {
    @apply text-blue-500;
  }

  .alert-info-content {
    @apply text-blue-800;
  }

  .alert-warning {
    @apply bg-yellow-100 text-yellow-800 border-yellow-500;
  }

  .alert-warning-title {
    @apply text-yellow-500;
  }

  .alert-warning-content {
    @apply text-yellow-800;
  }

  .alert-danger {
    @apply bg-red-100 text-red-800 border-red-500;
  }

  .alert-danger-title {
    @apply text-red-500;
  }

  .alert-danger-content {
    @apply text-red-800;
  }

  .alert-success {
    @apply bg-green-100 text-green-800 border-green-500;
  }

  .alert-success-title {
    @apply text-green-500;
  }

  .alert-success-content {
    @apply text-green-800;
  }
}

* {
  font-family: 'Roboto Mono', monospace;
}

.hamburger-button {
  display: flex;
  flex-direction: column;
  width: 34px;
  cursor: pointer;
}

.hamburger-dash {
  height: 3px;
  width: 100%;
  background-color: #ffffffe7;
  transition: all 1s ease-out;
}

.hamburger-dash:nth-child(2) {
  transform: translateY(7.5px);
}

.hamburger-dash:nth-child(3) {
  transform: translateY(15px);
}

.open-toggle > .hamburger-dash:nth-child(1) {
  transform: rotate(45deg) translateY(5px) translateX(12px);
}

.open-toggle > .hamburger-dash:nth-child(2) {
  display: none;
}

.open-toggle > .hamburger-dash:nth-child(3) {
  transform: rotate(-45deg) translateY(9px) translateX(-3px);
}

.moile-nav-items {
  animation-name: moveToLeft;
  animation-delay: 0s;
  transition: all 1s ease-out;
}

.moile-nav-items:nth-child(1) {
  animation-duration: 0.7s;
}
.moile-nav-items:nth-child(2) {
  animation-duration: 1s;
}
.moile-nav-items:nth-child(3) {
  animation-duration: 1.3s;
}
.moile-nav-items:nth-child(4) {
  animation-duration: 1.6s;
}

@keyframes moveToLeft {
  0% {
    transform: translateX(500px);
  }
}

.open-mobile-nav {
  display: flex;
  flex-direction: column;
}
